/* Header */
.nav-logo {
    color: white;
    font-size: 30px;
    margin: 0 20px;
}

.nav-logoimg {
    height: 50px; 
    width: 50px;
    padding-left: 20px;
}

.navbar {
    max-height: 70px;
}
.nav-searchtool {
    width: 35%;
    padding-right: 20px;

}
.nav-searchtool > input, .nav-searchtool > button {
    font-size: 20px;
}

.navbar-nav .nav-link {
    color: white;
}
.nav-item {
    padding-left: 25px;
    font-size: 20px;
    position: relative;
}

@media only screen and (max-width:991px) {
    .navbar {
        max-height: 400px;
    }

    .nav-searchtool {
        width: 100%;
        padding-left: 25px;
        padding-bottom: 10px;
    }
    .nav-item {
        padding-left: 25px;
        font-size: 20px;
        position: relative;
    }
    .nav-logo {
        display: inline-block;
    }
    
}

/* Footer */
footer a {
    text-decoration: none;
}

footer a:link:hover {
    text-decoration: underline;
}

.footer-copyright {
    background-color: rgba(80, 132, 201, 0.5);
    color: black;
}




