.page-content {
    margin: 120px auto;
}

/* From profile.css */
.profile-pic {
    display: flex;
    /* justify-content: center; */
    color: transparent;
    position: relative;
    
}

.profile-pic input {
    display: none;
}

.profile-pic img {
    position: absolute;
    object-fit: cover;
    width: 200px;
    height: 200px;
    border: 1px solid rgb(212, 209, 209);
    border-radius: 100px;
    z-index: 0;
}

.profile-pic label {
    cursor: pointer;
    height: 200px;
    width: 200px;

}

.profile-pic:hover label {
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: rgba(0, 0, 0, 0.635);
    z-index: 10;
    color: white;
    transition: background-color 0.15s ease-in-out;
    border-radius: 100px;
}