/* Login & Register */
.page-content {
    margin: 120px auto;
}
.dialogue-signin {
    max-width: 500px;
    margin: 0 auto;
}
/* My account page */
.info-list .list-group-item {
    padding: 20px 15px 10px 15px;
    border-bottom: 1px solid rgb(159, 158, 158)
}
.info-list .list-group-item label {
    font-weight: bold;
}

.profile-picture {
    display: flex;
    color: transparent;
    position: relative;
}
.profile-picture input {
    display: none;
}

.profile-picture img {
    position: absolute;
    object-fit: cover;
    width: 200px;
    height: 200px;
    border: 1px solid rgb(212, 209, 209);
    border-radius: 100px;
    z-index: 0;
}

.profile-picture label {
    cursor: pointer;
    height: 200px;
    width: 200px;
}

.profile-picture:hover label {
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: rgba(0, 0, 0, 0.635);
    z-index: 10;
    color: white;
    transition: background-color 0.15s ease-in-out;
    border-radius: 100px;
}