
.info-list .list-group-item {
    padding: 20px 15px 10px 15px;
    border-bottom: 1px solid rgb(159, 158, 158)
}
.info-list .list-group-item label {
    font-weight: bold;
}
.profile-img {
    border-radius: 50%;
    width: 75%;
    max-height: 320px;
}
