/* footer a {
    text-decoration: none;
}

footer a:link:hover {
    text-decoration: underline;
}

.footer-copyright {
    background-color: rgba(80, 132, 201, 0.5);
    color: black;
} */
