.logo {
    color: white;
    font-size: 30px;
    margin: 0 20px;
}

#logoimg {
    height: 50px; 
    width: 50px;
    padding-left: 20px;
}

.navbar {
    max-height: 70px;
}

.container-fluid {
    color: white;
}

nav {
    font-size: 20px;
}

.searchtool {
    width: 35%;
    padding-right: 20px;
}

.navbar-nav .nav-link {
    color: white;
}

.d-flex .form-control {
    font-size: 20px;
}

.nav-item {
    padding-left: 25px;
    font-size: 20px;
    position: relative;
}

@media only screen and (max-width:991px) {
    .navbar {
        max-height: 400px;
    }

    .searchtool {
        width: 100%;
        padding-left: 25px;
        padding-bottom: 10px;
    }
    .nav-item {
        padding-left: 25px;
        font-size: 20px;
        position: relative;
    }
    .logo {
        display: inline-block;
    }
    
}




