

* {
    margin: 0;
    padding: 0;
    box-sizing: be;
}
.navbar-brand {
    padding: 15px;
    padding-left: 1%;
    font-size: 30px;
    font-weight: 500;
    color: white;
}

nav {
    background-color:rgb(60, 22, 230);
    position: relative;
    justify-content: space-between;
    text-align: center;
    padding: 15px 30px;

}


.d-flex {
    width: 40%;
    position: absolute;
    margin-right: 500px;
    
}

.d-flex .form-control {
    font-size: 20px;

}
.d-flex .btn {
    font-size: 20px;

}

h1 {
    color: white;
}

.nav-item {
    padding-left: 30px;
    font-size: 25px;
    position: relative;
}

.navbar-nav {
    margin-left: 65%;
    margin-right: auto 0;
    font-size: 15px;
    width: 20%;
}

.btn {
    color: white;
    background-color: red;
}


@media only screen and (max-width: 1024px) {
    nav {
        display: block;
        padding: 0;
        
    }
    .d-flex {
        margin: auto 0;
        font-size: 15px;
        position: relative;
        width: 100%;
    }
    .navbar-nav {
        margin: auto 0;
        font-size: 15px;
        text-align: left;
    }
    
}


.container {
    display:block;
    margin-left: 10%;
}


.col-lg-3 .text-uppercase {
    font-size: 15px;
    color: black;
}

a:link {
    text-decoration: none;
}