.logo {
    color: white;
    font-size: 30px;
    margin: 0 20px;
}

.navbar {
    max-height: 70px;
}

.container-fluid {
    color: white;
}

nav {
    font-size: 20px;
}

.d-flex {
    width: 35%;
    padding-right: 10px;
}

.navbar-nav .nav-link {
    color: white;
}

.d-flex .form-control {
    font-size: 20px;
}

.nav-item {
    padding-left: 25px;
    font-size: 20px;
    position: relative;
}

@media only screen and (max-width:992px) {
    .navbar {
        max-height: 400px;
    }

    .d-flex {
        width: 90%;
        padding-right: 10px;
    }
    .nav-item {
        padding-left: 10px;
        font-size: 20px;
        position: relative;
    }
    .logo {
        display: inline-block;
    }
    
}




