


@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,200;1,100&display=swap');

/* navbar */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Poppins', sans-serif;
    text-transform: capitalize;
    text-decoration: none;
}

nav {
    display: flex;
    width: 100%;
    background: #0a5071;
    position: relative;
    justify-content: space-between;
    text-align: center;
    padding: 15px 30px;
}

nav .icon{
    font-size: 35px;
    font-weight: 800;
    color: #fff;
    cursor: pointer;
}

nav ol {
    display: flex;
    list-style: none;
    margin: auto 0;
}

nav ol li {
    margin: 0 2px;

}

nav ol li a {
    color: #fff;
    font-size: 20px;
    text-decoration: none;
    text-transform: capitalize;
    letter-spacing: 1px;
    padding: 5px 10px;

}

nav ol li:hover a {
    background: #fff;
    color: #0a5071;
}

nav .search_box {
    display: flex;
    margin: auto 0;
    height: 35px;
    line-height: 35px;
}

nav .search_box input{
    border: none;
    outline: none;
    background: #fff;
    height: 100%;
    padding: 0 10px;
    font-size: 20px;
    width: 350px;

}

nav .search_box span{
    color: #0a5071;
    font-size: 20px;
    background: #fff ;
    height: 100%;
    padding: 8px;
    position: relative;
    cursor: pointer;
    z-index: 1;

}

nav .search_box span::after {
    height: 100%;
    width: 100%;
    content: '';
    background: #ff003c;
    position: absolute;
    top: 0;
    left: 0;
    z-index: -1;
    transition: 0.3s;

}

nav .bar {
    position: relative;
    margin: auto;
    display: none;

}

nav .bar span {
    position: absolute;
    color: #fff;
    font-size: 35px;
}

input[type="checkbox"] {
    -webkit-appearance: none;
    display: none;

}

@media screen and (max-width: 1024px) {
    nav {
        display: block;
        padding: 0;
    }

    nav .icon {
        display: inline-block;
        padding: 15px 30px;

    
    }
    nav .search_box {
        width: 100%;
        display: inline-flex;
        justify-content: center;
        margin-bottom: 15px;

    }

    nav .search_box input {
        width: 90%;

    }

    nav ol {
        display: flex;
        flex-direction: column;
        height: 0;
        visibility: hidden;
        transition: 0.3s;
    }
    nav ol li {
        text-align: center;
    }
    nav ol li {
        color: #000;
        font-size: 28px ;
        padding: 25px;
        display: block;
        text-align: left;
    }

    nav .bar {
        display: block;
        position: absolute;
        top: 20px;
        left: 20px;
        cursor: pointer;
    }
    nav .bar #times{
        display: none;
    }
    #check:checked ~ nav .bar #times {
        display: block ;
    }
    #check:checked ~nav .bar #bars {
        display: none;
    }
    #check:checked ~nav ol {
        visibility: visible;
        height: 400px;
    }
    
    .dropdown-item {
        height: 30px;
    }

}

/* Footer */
.container {
    max-width: 1200px;
    margin: auto;
}
.row {
    display: flex;
    flex-wrap: wrap;
}

ul {
    list-style: none;
}

.footer {
    background-color: #24262b;
    padding: 70px 0;
}
.footer-col {
    width: 25%;
    padding: 0 15px;
}
.footer-col h4 {
    font-size: 18px;
    color: #fff;
    text-transform: capitalize;
    margin-bottom: 30px;
    font-weight: 300;
    position: relative;
}

.footer h4::before {
    content: '';
    position: absolute;
    left: 0;
    bottom: -10px;
    background-color: #e91e63;
    height: 2px;
    box-sizing: border-box;
    width: 50px;

}

.footer-col ul li:not(:last-child) {
    margin-bottom: 10px;

}

.footer-col ul li a {
    font-size: 16px;
    text-transform: capitalize;
    color: #ffffff;
    text-decoration: none;
    font-weight: 300;
    color: #bbbbbb;
    display: block;
    transition: all 0.3 ease;

}
.footer-col ul li a:hover {
    color: red;

}.footer-col .social-links a{
    display: inline-block;
    height: 40px;
    width: 40px;
    background-color: rgba(255, 255, 255, 0.2);
    margin: 0 10px 10px 0;
    text-align: center;
    line-height: 40px;
    border-radius: 50%;
    color: #ffffff;
    transition: all 0.5 ease;
}

.footer-col .social-links a:hover {
    color: #24262b;
    background-color: #ffffff;
}

@media(max-width: 1024px) {
    .footer-col {
        width: 50%;
        margin-bottom: 30px;
    }
}

.copyright {
    background-color: #000;
    padding-bottom: 1px;
    height: 50px;
}

.copyright p {
    color: #d2d2d2;
    text-align: center;

}

.copyright p a {
    text-decoration: none;
    color: #d2d2d2;
}



/* productlist */
.box-container {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-wrap: wrap;
    background: #ccc;
}

.box {
    flex: 100 100 500px;
    background: #fff;
    border: 1px solid rgba(0, 0, 0, 0.3);
    position: relative;
    overflow: hidden;
    margin: 20px;
}

.box .image {
    padding: 10px;
    background: white;
    text-align: center;
}

.box .image img {
    height: 300px;
    width: 300px;
    object-fit: cover;
}

.box .info .product-name {
    padding: 30px;
    color: #666;
    font-size: 20px;
}

.box .info .subinfo {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 15px 10px;
}

.box .info .subinfo .price {
    color: #ff3300;
    font-size: 20px;
}

@media screen and (min-width: 768px) and (max-width:1023px) {
    .box-container {
        display: flex;
        align-items: center;
        justify-content: center;
        flex-wrap: wrap;
        background: #ccc;
    }
    
    .box {
        flex: 100 100 300px;
        background: #fff;
        border: 1px solid rgba(0, 0, 0, 0.3);
        position: relative;
        overflow: hidden;
        margin: 20px;
    }
    
    .box .image {
        padding: 10px;
        background: white;
        text-align: center;
    }
    
    .box .image img {
        height: 300px;
        width: 300px;
        object-fit: cover;
    }
    
    .box .info .product-name {
        padding: 30px;
        color: #666;
        font-size: 20px;
    }
    
    .box .info .subinfo {
        display: flex;
        align-items: center;
        justify-content: space-between;
        padding: 15px 10px;
    }
    
    .box .info .subinfo .price {
        color: #ff3300;
        font-size: 20px;
    }
    
}